TestConsole/Service References/ServiceReference1/VisitTrackService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Visit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginuser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visit2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginuser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visit2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Visit2Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>